body, html{
  height:100%;
}
body{
  background-image: url(https://img.freepik.com/free-vector/nightclub-with-bar-counter-tables-dj-console-dance-floor-illuminated-by-disco-ball-spotlights-vector-cartoon-interior-night-party-dance-club-with-glowing-scene-neon-lamps_107791-4207.jpg?w=2000);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addGhostDancerButton, .addSpinDancerButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.ghost{
  border:10px solid rgb(16, 216, 123);
  border-radius:10px;
  position:absolute;
}

.resize {
  width: 80px;
  height: 80px;
}


.bounce {
  position:relative;
  animation: bounce 0.9s infinite;
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}


.newRotate {
  position:absolute;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

